div.pit-scouting-container {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

div.pit-scouting-container > div {
    border-bottom: 2px dashed var(--text);
    padding: 10px;
}

div.pit-scouting-container input[type="checkbox"] {
    background-color: var(--bg);
}

div.pit-scouting-container input[type="checkbox"]:hover {
    background-color: var(--bg-dark);
}

button.submit-pit-scouting {
    background-color: var(--accent);
    transition: 0.1s scale ease-in-out;
}

button.submit-pit-scouting:hover {
    scale: 1.01;
}

div.accordion-body:has(button[value="Pit Scouting"].complete) button.submit-pit-scouting,
button[value="Pit Scouting"].complete {
    background-color: var(--bg-complete);
}

button[value="Pit Scouting"].complete:hover {
    background-color: var(--bg-complete-light);
}