#teams-list {
    /** 67 89 */
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
}

div.team-container {
    width: 80%;
    background-color: var(--bg-light);
    border-radius: 20px;
}

p {
    white-space: pre;
}

div.team-container > button, div.team-container > div {
    width: 100%;
}

div.team-container > button {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto min-content;
    gap: 10px;
    transition: background-color 0.1s ease-in-out;
}

div.team-container > button > img {
    grid-column: 1;
    margin: auto 0;
    height: 2.5rem;
    width: 2.5rem;
}

div.team-container > button > h1 {
    grid-column: 2;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

div.team-container > button > span {
    grid-column: 3;
    display: flex;
    align-items: center;
    background-color: var(--red-alliance);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

div.team-container > button > span.complete {
    background-color: var(--bg-complete);
}

div.team-container.active > button {
    background-color: var(--bg);
}

div.tabs-container {
    display: flex;
    gap: 5px;
    width: fit-content;
}

button.tab-button.selected {
    background-color: var(--bg);
}

div.page-container {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    padding: 10px;
    margin: 0 auto;
}

div.summary-page p {
    font-size: 2rem;
    line-height: 4rem;
    text-wrap: auto;
}

span.epa-number {
    background-color: var(--bg);
    padding: 10px;
    border-radius: 1rem;
}

div.match-list {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 5px;
}

div.team-match {
    border-radius: 10px;
    background-color: var(--bg);
}

button.accordion-toggle {
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content min-content;
    gap: 5px;
}

button.accordion-toggle > p {
    padding-left: 5px;
    text-align: left;
    margin: auto 0;
    font-weight: 500;
}

button.view-match-data {
    grid-column: 2;
    background-image: url(../../deploy/magnifyingGlass.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border: none;
}

div.team-match > button.accordion-toggle::after, div.team-container > button::after {
    content: "+";
    margin: auto 0 auto auto;
    grid-column: 4;
}

div.team-match.active > button.accordion-toggle::after, div.team-container.active > button::after {
    content: "–";
}

button.accordion-toggle.red-alliance {
    background-color: var(--red-alliance);
    border-color: var(--red-alliance-light);
}

button.accordion-toggle.blue-alliance {
    background-color: var(--blue-alliance);
    border-color: var(--blue-alliance-light);
}

button.accordion-toggle.red-alliance:hover {
    background-color: var(--red-alliance-light);
}

button.accordion-toggle.blue-alliance:hover {
    background-color: var(--blue-alliance-light);
}

div.accordion-body > div[contenteditable="plaintext-only"] {
    tab-size: 4;
    min-height: 50px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    border: none;
}

div.match-toolbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

div.match-toolbar > button {
    background-color: var(--bg);
}

div.match-toolbar > button:hover {
    background-color: var(--bg-accented);
}

@media only screen and (max-width: 700px) {
    div.team-container > button {
        grid-template-columns: auto 1fr min-content;
    }

    div.team-container > button > span {
        grid-column: span 3;
        grid-row: 2;
    }

    div.team-container > button::after {
        grid-column: 3
    }
}