div#filter-editor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div#filter-blocks-menu {
    min-width: 0;
    max-width: 100%;
}

div#filter-tab-buttons {
    display: flex;
    flex-flow: row wrap;
}

div#filter-tab-buttons >button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding: 0.5rem 1rem;
}

div#filter-blocks-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: auto;
    background-color: var(--bg);
    padding: 1rem;
}

div#filter-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 0;
}

div#filter-content-toolbar {
    display: flex;
    flex-flow: row;
    justify-content: end;
}

div#filter-content-display {
    display: block;
    margin: 1rem;
    overflow: auto;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

/* Filter Blocks */
/* Coloring */
.block-container {
    background-color: var(--bg);
    border: solid 1px var(--text);
}

.block-input-slot, 
.block-input-slot > span, 
.block-container > input {
    background-color: var(--bg-light);
    border: solid 1px var(--text);
    color: var(--text);
}

.block-input-slot > span.type-text {
    color: var(--text-disabled);
}

.block-input-slot:hover, 
.block-input-slot > span:hover {
    background-color: var(--accent);
}

/* Box Sizing constraints */
.block-container, 
.block-container * {
    box-sizing: border-box;
}

/* Display Layout */
.block-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5px;
}

.block-container.horizontal {
    flex-flow: row;
}

.block-input-slot {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0.5rem;
}

.block-input-slot > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.block-container > span {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 0.5rem;
}

div.block-container > input {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 0.5rem;
}

#filter-editor:has(#filter-blocks-menu[hidden]) > #filter-content-container {
    grid-column: span 2;
}

/* Sizing */
.block-container {
    min-width: max-content;
    border-radius: 1rem;
}

.block-input-slot {
    min-width: fit-content;
    min-height: 2rem;
    border-radius: 1rem;
}

.block-input-slot > * {
    flex: 1;
}

.block-input-slot > span {
    border-radius: 1rem;
    height: fit-content;
    min-height: 100%;
}

.block-input-slot > span.type-text {
    border: none;
}

.block-input-slot:has(*:not(.type-text)) {
    border: none;
}

div.block-container > input {
    border-radius: 0.5rem;
    field-sizing: content;
}

/* Selected Border */
.selected {
    border-color: var(--accent) !important;
    border-width: 3px !important;
}

@media only screen and (max-width: 700px) {
    div#filter-editor {
        grid-template-columns: 1fr;
    }

    #filter-content-container {
        grid-column: 1;
    }

    #filter-editor:has(#filter-blocks-menu:not([hidden])) > #filter-content-container {
        display: none;
    }
}