:root {
    --bg-comparator-block: oklab(40% -0.1 0.1);
    --bg-math-block: oklab(40% -0.01 -0.14);
    --bg-value-block: oklab(40% 0.05 0.12);
}

div#filter-editor, 
div#filter-blocks-menu, 
div#filter-content-container {
    max-height: calc(100dvh - 10px -  (21.44px * 2) - 3rem);
}

div#filter-editor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

div#filter-blocks-menu {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;

    min-width: 0;
    max-width: 100%;

    position: sticky;
    align-self: start;
    top: 0;
}

div#filter-tab-buttons {
    display: flex;
    flex-flow: row wrap;
}

div#filter-tab-buttons >button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding: 0.5rem 1rem;
}

div#filter-blocks-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-height: 0;
    direction: rtl;
    overflow: auto;
    background-color: var(--bg);
    border: solid 1px var(--bg-light);
    padding: 1rem;
}

div#filter-blocks-page-wrapper h1 {
    text-align: center;
}

div#filter-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 0;
}

div#filter-content-toolbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
}
div#filter-content-toolbar > div {
    display: flex;
    flex-flow: row;
    gap: 5px;
}

div#filter-content-display {
    display: block;
    margin: 1rem;
    overflow: auto;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

button#close-block-producers-page {
    background-color: var(--red-alliance);
    font-size: 1rem;
    font-weight: bold;
}

button#close-block-producers-page:hover {
    background-color: var(--red-alliance-light);
}

/* Filter Blocks */
/* Appearance */
.block-container {
    background-color: var(--bg);
    border: solid 1px var(--text);
}

.comparator-block { background-color: var(--bg-comparator-block) !important; }
.math-block { background-color: var(--bg-math-block) !important; }
.value-block { background-color: var(--bg-value-block) !important; }

.block-input-slot, 
.block-input-slot > span, 
.block-container > input {
    background-color: var(--bg-light);
    border: solid 1px var(--text);
    color: var(--text);
}

.block-input-slot > span.type-text {
    color: var(--text-disabled);
}

.block-input-slot:hover, 
.block-input-slot > span:hover {
    background-color: var(--accent);
}

button#redo-action > img {
    transform: scaleX(-1);
}

/* Box Sizing constraints */
.block-container, 
.block-container * {
    box-sizing: border-box;
}

/* Display Layout */
.block-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5px;
}

.block-container.horizontal {
    flex-flow: row;
}

.block-input-slot {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0.5rem;
}

.block-input-slot > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.block-container > span {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 0.5rem;
}

div.block-container > input {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 0.5rem;
}

#filter-editor:has(#filter-blocks-menu[hidden]) > #filter-content-container {
    grid-column: span 2;
}

/* Sizing */
div#filter-content-display > .block-container { /* Top-level block */
    max-width: max-content;
    margin: auto;
}

.block-container {
    min-width: max-content;
    border-radius: 1rem;
}

.block-input-slot {
    min-width: fit-content;
    min-height: 2rem;
    border-radius: 1rem;
}

.block-input-slot > * {
    flex: 1;
    height: 100%;
}

.block-input-slot > span {
    border-radius: 1rem;
    height: fit-content;
    min-height: 100%;
}

.block-input-slot > span.type-text {
    border: none;
}

.block-input-slot:has(*:not(.type-text)) {
    border: none;
}

div.block-container > input {
    border-radius: 0.5rem;
    field-sizing: content;
}

div#filter-content-toolbar button:has(img) {
    display: flex;
    padding: 0.2rem;
}

div#filter-content-toolbar img {
    width: 2rem;
    height: 2rem;
}

/* Selected Object */
div#filter-tab-buttons .selected {
    background-color: var(--bg);
}

div#filter-content-display .selected {
    border-color: var(--accent) !important;
    border-width: 3px !important;
}

button#delete-filter-block.selected,
button#copy-filter-block.selected,
button#paste-filter-block.selected {
    background-color: var(--accent);
}

button.disabled {
    background-color: var(--bg);
    color: var(--text-disabled);
}

button.disabled > img {
    filter: brightness(30%);
}

button.disabled:hover {
    background-color: var(--bg);
} 

@media only screen and (max-width: 700px) {
    div#filter-editor {
        grid-template-columns: 1fr;
    }

    #filter-content-container {
        grid-column: 1;
    }

    #filter-editor:has(#filter-blocks-menu:not([hidden])) > #filter-content-container {
        display: none;
    }
}