div#filter-editor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div#filter-tab-buttons {
    display: flex;
    flex-flow: row;
}

div#filter-tab-buttons >button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding: 0.5rem 1rem;
}

div#filter-blocks-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: auto;
    background-color: var(--bg);
    padding: 1rem;
}

div#filter-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 0;
}

div#filter-content-toolbar {
    display: flex;
    flex-flow: row;
    justify-content: end;
}

div#filter-content-display {
    display: block;
    margin: 1rem;
    overflow: auto;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

/* Filter Blocks */
.block-container, .block-input-slot, .block-container span {
    box-sizing: border-box;
}

.block-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 5px;
    
    min-width: fit-content;

    background-color: var(--bg);
    border: solid 1px var(--text);
    border-radius: 1rem;
}

.block-container.horizontal {
    flex-flow: row;
}

.block-container > span {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 0.5rem;
}

.block-input-slot {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    min-width: fit-content;
    min-height: 2rem;
    margin: 0.5rem;

    background-color: var(--bg-light);
    border: solid 1px var(--text);
    border-radius: 1rem;
}

.block-input-slot > * {
    flex: 1;
}

.block-input-slot > span {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 1rem;
    background-color: var(--bg-light);
    border: solid 1px var(--text);
    border-radius: 1rem;
    height: fit-content;
    min-height: 100%;

}

.block-input-slot > span.type-text {
    border: none;
    color: var(--text-disabled);
}

.block-input-slot:has(*:not(.type-text)) {
    border: none;
}

div.block-container > input {
    color: var(--text);
    background-color: var(--bg-light);
    border: solid 1px var(--text);
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    field-sizing: content;
    padding: 0 0.5rem;
}

.block-input-slot:hover, .block-input-slot > span:hover {
    background-color: var(--accent);
}

.block-container.selected, .block-input-slot.selected, span.selected {
    border-color: var(--accent);
    border-width: 3px;
}