div#team-page-subpage-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem;
    align-self: stretch;
}

div#subpage-tab-buttons-container > button.selected {
    background-color: var(--bg-dark);
}

div.match-notes-page {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: stretch;
    width: 100%;
}

div.match-notes-page > div > h1 {
    text-align: center;
    width: 100%;
}

div.match-notes-page > div:first-of-type {
    padding: 0 1rem;
    flex-grow: 2;
}

div.match-notes-page > div:last-of-type {
    padding: 0 1rem;
    background-color: var(--bg);
    flex-grow: 1;
}

div.match-data-page > div,
div.match-data-page > div.matches > div > button {
    width: 100%;
}

div.match-data-page > div.matches > div {
    margin: 0.5rem 0;
    background-color: var(--bg);
    border-radius: 0.5rem;
}

div.match-data-page > div.matches > div > button.red {
    background-color: var(--red-alliance);
    border-color: var(--red-alliance-light);
}

div.match-data-page > div.matches > div > button.red:hover {
    background-color: var(--red-alliance-light);
}

div.match-data-page > div.matches > div > button.blue {
    background-color: var(--blue-alliance);
    border-color: var(--blue-alliance-light);
}

div.match-data-page > div.matches > div > button.blue:hover {
    background-color: var(--blue-alliance-light);
}

div.match-data-page > div.matches > div > button > h1 {
    font-size: 1.5rem;
    margin: 0.5rem;
}

div.match-data-page > div.matches > div > div {
    font-size: 1.5rem;
}

div.match-data-page > div.matches > div > div > div {
    margin: 1rem;
}