div#team-cards-page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
}

div#main-content:has(div#team-page:not([hidden])) > div#team-cards-page-container {
    display: none;
}

div#team-cards-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
    width: 100%;
}

button.team-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;

    min-width: 90%;
    height: 4rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
}

button.team-card > span {
    width: fit-content;
    background-color: var(--bg-accented);
    padding: 5px 10px;
    border-radius: 5px;
}

div#team-page {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 0;
    margin: 0;
    max-width: 100%;
}

button#exit-page {
    position: absolute;
    top: 15px;
    left: 15px;
}