div#team-page-subpage-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem;
    align-self: stretch;
}

div#subpage-tab-buttons-container > button.selected {
    background-color: var(--bg-dark);
}