<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./static/styles/global.css" rel="stylesheet" />
  <link href="./static/styles/customComponents.css" rel="stylesheet" />
  <link href="./static/styles/analysis/filterAndSort.css" rel="stylesheet" />

  <title>Analysis App</title>
</head>

<body>
  <main>
    <h1>Scouting Data Analysis</h1>
    <div id="filter-container">
      <div id="filter-bar">
        <div id="filter-bar-buttons">
          <button id="filter-button">
            <img alt="Filter" src="./static/deploy/filter.svg" />
          </button>
        </div>
        <div id="sort-menu">
          <label for="sorted-by">
            Sort By:
          </label>
          <select id="sorted-by" name="sorted-by">
            <option value="team-number">
              Team Number
            </option>
          </select>
          <button id="sort-order">
          </button>
        </div>
      </div>
      <div class="accordion-body" id="filter-menu">
        <div id="filter-menu-wrapper">
          <h1>
            FILTER
          </h1>
        </div>
      </div>
      <div id="main-content">
        
      </div>
  </main>
  <script src="./static/build/analysis/main.js" type="module"></script>
</body>

</html>