<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./static/styles/global.css" rel="stylesheet" />
  <link href="./static/styles/customComponents.css" rel="stylesheet" />
  <link href="./static/styles/analysis/main.css" rel="stylesheet" />
  <link href="./static/styles/analysis/filterAndSort.css" rel="stylesheet" />
  <link href="./static/styles/analysis/filterEditor.css" rel="stylesheet" />
  <link href="./static/styles/analysis/teamCardsList.css" rel="stylesheet" />

  <title>Analysis App</title>
</head>

<body>
  <main>
    <h1>Scouting Data Analysis</h1>
    <div id="filter-bar">
      <div id="filter-bar-buttons">
        <button id="filter-button">
          <img alt="Filter" src="./static/deploy/filter.svg" />
        </button>
        <button id="build-filter">BUILD</button>
        <button id="toggle-filter" class="disabled">DISABLED</button>
      </div>
      <div id="sort-menu">
        <label for="sorted-by">
          Sort By:
        </label>
        <select id="sorted-by" name="sorted-by">
        </select>
        <button id="sort-order">
        </button>
      </div>
    </div>
    <div class="accordion-body" id="filter-menu">
      <div id="filter-menu-wrapper">
        <h1>
          FILTER
        </h1>
        <div id="filter-editor">
          <div id="filter-blocks-menu">
            <div id="filter-tab-buttons">
              <button id="comparators-filter-tab-button">Comparators (Boolean)</button>
              <button id="math-filter-tab-button">Math</button>
              <button id="data-filter-tab-button">Data</button>
              <button id="constants-filter-tab-button">Constants</button>
            </div>
            <div id="filter-blocks-page-wrapper">
              <button id="close-block-producers-page">CLOSE</button>
            </div>
          </div>
          <div id="filter-content-container">
            <div id="filter-content-toolbar">
              <div>
                <button id="undo-action" class="disabled"><img src="./static/deploy/arrowLoopingLeft.svg" alt="Undo"></button>
                <button id="redo-action" class="disabled"><img src="./static/deploy/arrowLoopingLeft.svg" alt="Redo"></button>
                <button id="test-filter-block" class="disabled"><img src="./static/deploy/verifyIcon.svg" alt="Test"></button>
              </div>
              <div>
                <button id="delete-filter-block"><img src="./static/deploy/trashCan.svg" alt="Delete"></button>
                <button id="copy-filter-block"><img src="./static/deploy/copyIcon.svg" alt="Copy"></button>
                <button id="paste-filter-block" class="disabled"><img src="./static/deploy/pasteIcon.svg" alt="Paste"></button>
              </div>
            </div>
            <div id="filter-content-display"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="main-content">
      <div id="team-cards-page-container">
        <div id="team-cards-list"></div>
      </div>
  </main>
  <script src="./static/build/analysis/main.js" type="module"></script>
</body>

</html>