<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/styles/global.css" rel="stylesheet" />
    <link href="./static/styles/customComponents.css" rel="stylesheet" />
    <link href="./static/styles/scouting/topBar.css" rel="stylesheet" />
    <link href="./static/styles/scouting/customComponents.css" rel="stylesheet" />
    <title>Scouting App</title>
  </head>
  <body>
    <main>
      <div id="top-bar">
        <button id="previous-page-button" hidden>BACK</button>
        <h1 id="page-title">SCOUTING APP</h1>
      </div>
      <script src="./static/build/scouting/main.js"></script>
    </main>
  </body>
</html>