<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="./static/deploy/magnifyingGlass.svg" rel="icon" type="image/x-icon"/>
    <link href="static/styles/global.css" rel="stylesheet"/>
    <link href="static/styles/tbaTopBar.css" rel="stylesheet"/>
    <link href="static/styles/searchBar.css" rel="stylesheet"/>
    <link href="static/styles/filterAndSort.css" rel="stylesheet"/>
    <link href="static/styles/teams.css" rel="stylesheet"/>
    <link href="static/styles/matchData.css" rel="stylesheet"/>
    <link href="static/styles/pitScouting.css" rel="stylesheet"/>
    <title>
      Super Scouting App
    </title>
    <script src="./static/build/superscouting/AppData.js" type="module"></script>
    <script src="./static/build/superscouting/main.js" type="module"></script>
    <script src="./static/build/superscouting/appConfig/PitScoutingFields.js" type="module"></script>
    <script src="./static/build/superscouting/components/Accordion.js" type="module"></script>
    <script src="./static/build/superscouting/dataTypes/Color.js" type="module"></script>
    <script src="./static/build/superscouting/dataTypes/HTMLClassObserver.js" type="module"></script>
    <script src="./static/build/superscouting/dataTypes/Signal.js" type="module"></script>
    <script src="./static/build/superscouting/dataTypes/Value.js" type="module"></script>
    <script src="./static/build/superscouting/managers/TeamListManager.js" type="module"></script>
    <script src="./static/build/superscouting/managers/TeamNotesManager.js" type="module"></script>
    <script src="./static/build/superscouting/util/CacheBuster.js" type="module"></script>
    <script src="./static/build/superscouting/util/DOMHelper.js" type="module"></script>
    <script src="./static/build/superscouting/util/StringManipulation.js" type="module"></script>
    <script src="./static/build/superscouting/util/TBAJson.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/ColorField.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/FieldInterface.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/FloatField.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/IntegerField.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/PopupDialog.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/PopupDiv.js" type="module"></script>
    <script src="./static/build/superscouting/components/Popup/TextField.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Container.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Page.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/SummaryPage.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Match/MatchTextEditor.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Match/Page.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Match/TeamMatchContainer.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Page.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/Boolean.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/FieldInterface.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/MultipleChoice.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/Number.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/NumberRange.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/SingleChoice.js" type="module"></script>
    <script src="./static/build/superscouting/components/Team/Pit/Field/Text.js" type="module"></script>
  </head>
  <body>
    <main>
      <div id="tba-top-bar">
        <button id="set-competition-button">
          Import Teams
        </button>
        <button id="refresh-tba-data-button">
          Refresh
        </button>
      </div>
      <div id="search-bar-container" type="text">
        <input id="search-bar-input" type="text"/>
      </div>
      <div id="toolbar">
        <button id="expand-all-teams">
          Expand All Teams
        </button>
        <button id="collapse-all-teams">
          Collapse All Teams
        </button>
      </div>
      <div id="teams-list">
      </div>
    </main>
    <script src="./static/build/superscouting/main.js" type="module"></script>
  </body>
</html>
