<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="./static/deploy/magnifyingGlass.svg" rel="icon" type="image/x-icon"/>
    <link href="static/styles/global.css" rel="stylesheet"/>
    <link href="static/styles/tbaTopBar.css" rel="stylesheet"/>
    <link href="static/styles/searchBar.css" rel="stylesheet"/>
    <link href="static/styles/filterAndSort.css" rel="stylesheet"/>
    <link href="static/styles/teams.css" rel="stylesheet"/>
    <link href="static/styles/matchData.css" rel="stylesheet"/>
    <link href="static/styles/pitScouting.css" rel="stylesheet"/>
    <title>
      Super Scouting App
    </title>
  </head>
  <body>
    <main>
      <div id="tba-top-bar">
        <button id="set-competition-button">
          Import Teams
        </button>
        <button id="refresh-tba-data-button">
          Refresh
        </button>
      </div>
      <div id="search-bar-container" type="text">
        <input id="search-bar-input" type="text"/>
      </div>
      <div id="toolbar">
        <button id="expand-all-teams">
          Expand All Teams
        </button>
        <button id="collapse-all-teams">
          Collapse All Teams
        </button>
      </div>
      <div id="teams-list">
      </div>
    </main>
    <script src="./static/build/main.js" type="module"></script>
  </body>
</html>
