.accordion-body {
    display: block;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}

.accordion-body > * {
    margin-left: auto;
    margin-right: auto;
}

div.search-bar {
    width: 80%;
    border: var(--bg-light) solid 2px;
    min-height: 60px;
    background-color: var(--bg-dark);
    border-radius: 30px;
    font-size: xx-large;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    padding: 0;
}

div.search-bar::after {
    background-image: url(../deploy/magnifyingGlass.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
    content: "";
    align-self: center;
}

div.search-bar > input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    font-size: x-large;
    color: var(--text);
    outline: none;
}