div.pit-scouting-container {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

div.pit-scouting-container > div {
    border-bottom: 2px dashed var(--text);
    padding: 10px;
}

div.pit-scouting-container input[type="checkbox"] {
    background-color: var(--bg);
}

div.pit-scouting-container input[type="checkbox"]:hover {
    background-color: var(--bg-dark);
}